{% extends 'base.html.twig' %}

{% block title %}page index{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6">
        
        <h1>
            test
        </h1>
    
    </div>
    <div class="col-6">
        
        <a href="" class="btn btn-primary">Clique moi !!!</a>
    
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        color: red;
    }

    .container-fluid {
        padding: 0px;
    }
</style>
{% endblock %}
